# Ignore breakpad source directory
deps/

# Build artifacts
sampleapp_linux/build/
sampleapp_macos/build/
sampleapp_windows/RaygunBreakpad/*
sampleapp_windows/x64/*

# Dev artifacts
.vscode/
sampleapp_windows/.vs

